---
layout: default
---
{% assign previousPost = collections.news | getPreviousCollectionItem %}
{% assign nextPost = collections.news | getNextCollectionItem %}

<p><strong>Date:</strong> {{ date | readableDate }}</p>

{{ content }}

{% if nextPost %}
  <p>Next Post:
    <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
  </p>
{% endif %}
{% if previousPost %}
  <p>Previous Post:
    <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
  </p>
{% endif %}
