---
layout: base
---

{% assign products = collections.product %}

<body class="is-preload">
	{% include 'header.html' %}

	<section id="main" class="wrapper style1">
		<header class="major">
			<h2>Products</h2>
		{% comment %} <p>Only one for now, but we have plans to publish more.</p> {% endcomment %}
		</header>
		<div class="container">
			<div class="row gtr-150">
				<div class="col-4 col-12-medium">
					<section id="sidebar">
						<section>
							<h3>All Products</h3>
							{%- if products.length > 0 %}
							<ul class="alt">
								{%- for product in products %}
								<li>
									<h4><a style="cursor: pointer" href="{{product.url}}">{{ product.data.title }}</a></h4>
									{% for plat in platform %}									
										{{ plat }}{%- unless forloop.last %},{% endunless %}
									{% endfor %}
									{% comment %} {%- if product.data.description %}
									<p>{{ product.data.description }}</p>
									{%- endif %} {% endcomment %}
								</li>
								{%- endfor %}
							</ul>
							<p>More products coming</p>
							{%- else %}
							<p>No products found</p>
							{%- endif %}
						</section>
					</section>
				</div>
				<div class="col-8 col-12-medium imp-medium">
					<section id="content">						
						<h3>{{title}}</h3>						
						<strong>Platforms:</strong>
						{% for plat in platform %}
							{% comment %} <a href="/platform/{{ plat | slugify }}">{{ plat }}</a> {% endcomment %}
							{{ plat }}
							{%- unless forloop.last %},
							{% endunless %}
						{% endfor %}
						<hr />
						{{ content }}
					</section>
				</div>
			</div>
		</div>
	</section>

	{% include 'footer.html' %}
	{% include 'page-scripts.html' %}
</body>